<div class="row mt-5">
        <div class="col-md-5 mb-3">
            <div class="card text-center" *ngFor="let tutorial of tutorials">
                    <div class="p-3 mb-2 bg-success text-white"> 
                    <h5 class="card-tit">{{tutorial.name}}</h5>
</div><div>
                    <p class="card-text">{{tutorial.description}}</p>
                    
                </div>
                <div class="card-footer tex-muted"></div>
                {{tutorial.duration}}
            </div>
        </div>
    </div>




    <!-- <div class="row mt-5"> 
            <div class="col-md-5 mb-3">
              <div class="card text-center" *ngFor="let tutorial of tutorials"> 
                      <label for="name">Subject:</label>
            <div class="card-body p-3 mb-2 bg-primary text-white ">
                    <h5 class="card-tit">{{tutorial.name}}</h5> 
        </div><div>
                      <label for="description">Description:</label>
                       <p class="card-text">{{tutorial.description}}</p>
                        
                    </div>
    
                    <div class="card-footer tex-muted"></div>
        <label for="duration">Duration:</label>
               {{tutorial.duration}} 
            </div>
          </div> 
        </div> -->